
.networks-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;

  ion-card {
    flex: 2;

    ion-list {
      ion-item {

        &.selected {
          background: linear-gradient(90deg, rgba(255,255,255,1), rgba(var(--ion-color-primary-rgb), .066));
          ion-label {
            h4 {
              color: var(--ion-color-primary);
            }
          }
        }

        ion-icon[slot=start] {
          margin-left: 8px;
          margin-right: 16px;
        }

        .meta {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 8px;

          ion-icon {
            font-size: 25px;
            margin: 0;
            padding: 0;
          }

          ion-badge {
            font-size: 14px;
            padding: 4px 8px;
            min-width: 75px;
            margin: 0;
          }
        }
      }
    }
    
    &:last-child {
      flex: 3;
    }
  }
}