/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import '@ionic/angular/css/palettes/dark.system.css';


/* Custom Global Styles
 * -----------------------------------------------------
 * Add your own global styles here
 */

ion-content {
  --padding-top: 32px;
  --padding-bottom: 32px;
  --padding-start: 24px;
  --padding-end: 24px;
  --background: var(--ion-color-light);

  h6.page-section {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 8px 0;
    padding: 0 0 0 0;
    color: rgba(var(--ion-color-primary-rgb), 1);
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    h2 {
      margin: 0;
      padding: 0;
      font-size: 32px;
      font-weight: 900;
      color: var(--ion-color-dark);
    }

    ion-button {
      margin: 0;
    }
  }
}

ion-button {
  --border-radius: 16px;
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --box-shadow: none;
  min-height: 54px;
  font-size: 16px;
  text-transform: none;

  &.large {
    min-height: 64px;
  }

  &.ion-color-success {
    &::part(native) {
      color: white;
    }
  }

  ion-icon {
    margin: 0 16px 0 0;
    // margin-right: 12px;
    font-size: 24px;
  }

  span {
    font-weight: 500;
    margin: 0 0 0 auto;
  }

  &.square-button {
    --padding-start: 0;
    --padding-end: 0;
    --padding-top: 0;
    --padding-bottom: 0;
    --background: rgba(0,0,0, 0.3);
    --color: rgba(var(--ion-color-dark-contrast-rgb), .6);
    --box-shadow: none;
    width: 54px;
    max-width: 54px;
    min-height: 54px;
    max-height: 54px;

    ion-icon {
      margin: 0;
      font-size: 28px;
    }

    &.color-medium {
      --background: transparent;
      --color: var(--ion-color-medium-tint);
    }

    &.color-danger {
      --background: rgba(var(--ion-color-danger-rgb), 0.1);
      --color: var(--ion-color-danger);
    }
  }
}

ion-modal {
  &::part(content) {
    border-radius: 24px;
  }
}

ion-header {
  box-shadow: none !important;
}

ion-footer {
  box-shadow: none !important;
}

ion-toolbar {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1) !important;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
  --min-height: 72px;

  .pos-status {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin-right: 12px;
    gap: 6px;

    .clock {
      color: var(--ion-color-light);
      font-family: monospace;
      font-size: 14px;
      font-weight: 600;
    }

    .online-status {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: rgba(var(--ion-color-light-rgb), .6);
      color: var(--ion-color-warning);
      font-weight: 500;

      ion-icon {
        font-size: 10px;
        margin: 0 6px 0 0; 
      }
    }
  }

  ion-title {
    margin: 0;
    padding: 0 0 0 4px;
  }

  p.subtitle {
    margin: 0;
    padding: 4px 0 0 4px;
  }

  ion-button {
    --border-radius: 12px;
    min-height: 54px;
    
    &.square-button {
      width: 54px;
      max-width: 54px;
      min-height: 54px;
      max-height: 54px;
    }
  }

  #logo {
    height: 54px;
    width: 54px;
    border-radius: 12px;
    margin-right: 12px;
    background: var(--ion-color-primary);

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 52%;
      object-fit: contain;
      object-position: center;
      height: auto;
      margin: auto;
    }

    ion-icon {
      font-size: 28px;
      color: white;
    }
  }
}

ion-header#main-header {
  ion-toolbar {
    --padding-start: 24px;
    --padding-end: 24px;

    ion-title {
      color: var(--ion-color-dark);
      margin: 0;
      font-weight: 600;
      font-size: 22px;
    }
    
    p.subtitle {
      margin: 0;
      padding: 0 0 0 4px;
      font-size: 16px;
      font-weight: 500;
      color: rgba(var(--ion-color-dark-rgb), .6);
    }
  }

  &.dark {
    ion-toolbar {
      --background: var(--ion-color-dark) !important;
      box-shadow: 0 0 0 1px var(--ion-color-dark-tint) !important;
  
      ion-title {
        color: var(--ion-color-light);
      }
  
      p.subtitle {
        color: rgba(var(--ion-color-light-rgb), .6);
      }
    }
  }
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: var(--ion-color-light);
  border-radius: 12px;

  &.color-success {
    background: rgba(var(--ion-color-success-rgb), 0.1);
  }

  &.color-danger {
    background: rgba(var(--ion-color-danger-rgb), 0.1);
  }

  ion-label {
    font-weight: 500;
    margin-bottom: 8px;
  }

  ion-input {
    --background: white;
    --border-radius: 8px;
    --padding-start: 12px;
    --padding-end: 12px;
  }

  ion-icon.status-icon {
    position: absolute;
    font-size: 24px;
    top: 6px;
    right: 6px;
  }

  ion-spinner.loader {
    position: absolute;
    font-size: 24px;
    top: 6px;
    right: 6px;
  }
}

ion-list {
  padding: 8px 0 !important;
  border-radius: 16px;
  background: var(--ion-color-light) !important;

  ion-item {
    --background: transparent !important;

    ion-label {
      font-weight: 500;
    }
  }
}

ion-badge {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 12px;
  background: rgba(var(--ion-color-primary-rgb), 0.1);
  color: var(--ion-color-primary);

  &.ion-color-light {
    background: rgba(0,0,0, 0.06);
    color: var(--ion-color-text);
  }

  &.ion-color-success {
    background: rgba(var(--ion-color-success-rgb), 0.1);
    color: var(--ion-color-success);
  }

  &.ion-color-warning {
    background: rgba(var(--ion-color-warning-rgb), 0.1);
    color: var(--ion-color-warning-shade);
  }

  &.ion-color-danger {
    background: rgba(var(--ion-color-danger-rgb), 0.1);
    color: var(--ion-color-danger);
  }
}

ion-alert {
  &.select-alert {
    .alert-wrapper {
      min-height: 620px !important;
    }
  }
  
  .alert-wrapper{
    border-radius: 24px !important;
    min-width: 720px !important;

    .alert-head {
      padding-top: 32px;
    }
    
    .alert-message {
      padding-bottom: 32px;
    }

    .alert-button-group {
      padding: 16px ;

      .alert-button {
        min-width: 128px;
        min-height: 44px;
        padding: 4px 16px;
        background: var(--ion-color-light);
        border-radius: 12px;
        
        .alert-button-inner {
          text-align: center !important;
          padding: 0;
        }

        &.alert-button-role-cancel {
          color: var(--ion-color-dark);
        }

        &.alert-button-role-confirm {
          color: var(--ion-color-success);
        }
      }
    }
    
    .alert-radio-group {
      padding: 16px 0;
      // border: none !important;

      .alert-radio-button {
        min-height: 64px;
        padding: 4px 16px;
        
        .alert-button-inner {
          background: var(--ion-color-light);
          border-radius: 12px;
        }
      }
    }
  }
}

ion-card {
  border-radius: 24px;
  padding: 0;
  margin: 0;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  
  ion-list {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0;
    background: white !important;

    ion-item-divider {
      font-weight: 600;
      font-size: 14px;
      padding: 8px 0 8px 16px;

      b {
        color: var(--ion-color-dark)
      }

      .divider-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          padding: 0;
          text-align: right;
          font-family: monospace;
          font-size: 13px;
          color: rgba(var(--ion-color-dark-rgb), .6);
        }
      }
    }

    ion-item {
      --padding-top: 12px;
      --padding-bottom: 8px;
      --padding-start: 16px;
      --padding-end: 0;

      ion-badge {
        min-width: 120px;
        margin: 0 16px 0 0;
        font-family: monospace;
        letter-spacing: -1px;
        font-size: 14px;
        font-weight: 600;
      }

      ion-label {
        h4 {
          margin: 0 0 4px 0 !important;
          padding: 0 !important;
          font-size: 18px !important;
          line-height: 16px !important;
          font-weight: 600 !important;
        }

        small {
          margin: 0 !important;
          padding: 0 !important;
          font-size: 13px;
          color: rgba(var(--ion-color-dark-rgb), .6);
          font-family: monospace;
          letter-spacing: -0.5px;
        }
      }

      ion-toggle[slot="end"] {
        margin: 0 0 0 16px;
      }
    }
  }
}