<ion-header id="main-header" class="dark">
  <ion-toolbar>
    <div id="logo" slot="start">
      <img src="assets/logo.png">
    </div>
    <ion-title>ElvisPOS</ion-title>
    <p class="subtitle"><b>Setup Utility</b> v{{posSvc.versions.app}} - <b>ECLI</b> v{{posSvc.versions.ecli}}</p>

    <div class="pos-status" slot="end">
      <span class="clock">
        {{ posSvc.clock | date: 'HH:mm:ss' }}
      </span>

      <span class="online-status">
        <ion-icon name="ellipse"></ion-icon>
        DEVICE SETUP
      </span>
    </div>
    
    <div slot="end">
      <ion-button class="square-button">
        <ion-icon name="power-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollX]="false" [scrollY]="false" id="main-content">
  <div id="container">
    <div id="setup-type">
      <ion-button id="manual-setup-modal">
        <div class="content">
          <ion-icon src="assets/lucide/layers.svg"></ion-icon>
          <p>Full POS Suite</p>
          <span>Complete install with local database and full software capabilities.</span>
          <ion-badge>Tap to Intall</ion-badge>
        </div>
      </ion-button>

      <ion-button>
        <div class="content">
          <ion-icon src="assets/lucide/app-window.svg"></ion-icon>
          <p>Kiosk Mode</p>
          <span>Lightweight browser-only mode pointing to local or eternal URL.</span>
          <ion-badge>Tap to Configure</ion-badge>
        </div>
      </ion-button>
    </div>

    <hr>

    <div id="options">
      <ion-button class="large" color="medium" (click)="onNavigateTo('network-setup')">
        <ion-icon slot="start" src="assets/lucide/network.svg"></ion-icon>
        <span>Network Setup</span>
      </ion-button>
      
      <ion-button class="large" color="medium" (click)="onNavigateTo('drivers-and-software')">
        <ion-icon slot="start" src="assets/lucide/cpu.svg"></ion-icon>
        <span>Drivers & Software</span>
      </ion-button>

      <ion-button class="large" color="medium" (click)="onNavigateTo('hardware')">
        <ion-icon slot="start" src="assets/lucide/printer.svg"></ion-icon>
        <span>Hardware</span>
      </ion-button>

      <ion-button class="large" color="medium" (click)="onNavigateTo('scheduled-tasks')">
        <ion-icon slot="start" src="assets/lucide/calendar-check.svg"></ion-icon>
        <span>Scheduled Tasks</span>
      </ion-button>
    </div>
  </div>
</ion-content>

<ion-modal #manualSetupModal trigger="manual-setup-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>POS Setup</ion-title>
        <p class="subtitle">Please enter your <b>Server Address</b> and <b>POS Device ID</b></p>
        <div slot="end">
          <ion-button class="square-button color-danger" (click)="manualSetupModal.dismiss()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <div style="display: flex; align-items: center; justify-content: center; gap: 16px; flex-wrap: wrap;">
        <div class="input color-{{serverAddressStatus}}" style="flex: 1 0 70%;">
          <ion-label >Server Address</ion-label>
          <ion-input [ngModel]="setupData.serverAddress" (ngModelChange)="onServerAddressChange($event)" [debounce]="2000" type="text" placeholder="Ex: 123.123.123.123, server.com, prod.server.com"></ion-input>

          @if (serverAddressStatus) {
            @if (!checkingAddress) {
              <ion-icon 
                class="status-icon"
                [name]="setupData.serverAddressValid ? 'checkmark-circle' : 'close-circle'"
                [color]="setupData.serverAddressValid ? 'success' : 'danger'"
              ></ion-icon>
            } @else {
              <ion-spinner class="loader" name="crescent"></ion-spinner>
            }
          }
        </div>
        <ion-button (click)="onScanNetworks()" style="flex: 1 0 20%;" tabindex="-1">
          <ion-icon icon="radio-outline"></ion-icon>
          Scan Network
        </ion-button>

        <div class="input color-{{deviceIdStatus}}" style="flex: 1 0 70%;">
          <ion-label >POS Device ID</ion-label>
          <ion-input 
            type="number" placeholder="Ex: 1, 10, 37" 
            min="1" 
            [ngModel]="setupData.deviceId" 
            (ngModelChange)="onDeviceIDChange($event)"
            [debounce]="2000"
            [disabled]="!setupData.serverAddressValid"
          ></ion-input>

          @if (deviceIdStatus) {
            @if (!checkingDevice) {
              <ion-icon 
                class="status-icon"
                [name]="setupData.deviceIdValid ? 'checkmark-circle' : 'close-circle'"
                [color]="setupData.deviceIdValid ? 'success' : 'danger'"
              ></ion-icon>
            } @else {
              <ion-spinner class="loader" name="crescent"></ion-spinner>
            }
          }
        </div>

        <ion-button [disabled]="!setupData.serverAddressValid" (click)="onSearchDevices()" style="flex: 1 0 20%;" tabindex="-1" color="secondary">
          <ion-icon icon="desktop-outline"></ion-icon>
          Search Devices
        </ion-button>

        <ion-list style="flex: 3 0 60%;" lines="none">
          <ion-item>
            <ion-label>Name</ion-label>
            @if (deviceData.id && deviceData.description) {
              <ion-badge slot="end" [color]="deviceData.id ? 'success' : 'danger'" >
                #{{deviceData.id}}{{deviceData.deviceNumber && deviceData.deviceNumber > 0 ? ' / ' + deviceData.deviceNumber : ''}} : {{deviceData.description || 'NO DESCRIPTION'}}
              </ion-badge>
            } @else {
              <ion-badge slot="end">
                NO INFO
              </ion-badge>
            }
          </ion-item>
          <ion-item>
            <ion-label>Serial No.</ion-label>
            @if (deviceData.serialNumber) {
              <ion-badge slot="end" [color]="deviceData.serialNumber ? 'success' : 'danger'">
                {{deviceData.serialNumber || 'NO SERIAL NO'}}
              </ion-badge>
            } @else {
              <ion-badge slot="end">
                NO INFO
              </ion-badge>
            }
          </ion-item>
          <ion-item>
            <ion-label>POS Type</ion-label>
            @if (deviceData.deviceTypeId && deviceData.deviceType) {
              <ion-badge slot="end" [color]="deviceData.serialNumber ? 'success' : 'danger'">
                #{{deviceData.deviceTypeId}}: {{deviceData.deviceType}}
              </ion-badge>
            } @else {
              <ion-badge slot="end">
                NO INFO
              </ion-badge>
            }
          </ion-item>
          <ion-item>
            <ion-label>POS DB Snapshot Date</ion-label>
            @if (lastSeedUpdate) {
              <ion-badge slot="end" [color]="lastSeedBadgeColor">
                {{lastSeedUpdate | date:'medium'}}
              </ion-badge>
            } @else {
              <ion-badge slot="end">
                NO INFO
              </ion-badge>
            }
          </ion-item>
        </ion-list>
      </div>
    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <div slot="end">
          <ion-button [disabled]="!setupData.serverAddressValid || !setupData.deviceIdValid" color="success" (click)="manualSetupModal.dismiss()">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <span>Confirm Setup</span>
          </ion-button>
        </div>
      </ion-toolbar>
    </ion-footer>
  </ng-template>
</ion-modal>