
ion-content#main-content {
  --background: linear-gradient(var(--ion-color-dark-tint) 0%, var(--ion-color-dark-shade) 100%);

  #container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #header {
      text-align: center;
      margin-bottom: 32px;

      #logo {
        max-width: 80px;
        margin: 0 auto 16px auto;
        height: auto;
      }
  
      h3#title {
        margin: 0 auto 0 auto;
        color: white;
        font-weight: 600;
      }
    }

    #options {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      width: 100%;
      max-width: 640px;
    }

    #version {
      display: block;
      line-height: 20px;
      color: white;
      text-align: center;
      position: absolute;
      bottom: .5rem;
      left: 0;
      width: 100%;
      right: 0;
    }
  }
}

ion-modal {
  &::part(content) {
    min-width: 780px;
    min-height: 670px;
  }
}